# Ignore Visual Studio files
.vs/
*.suo
*.user
*.sqlite

# Ignore Python cache and virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
venv/
env/
.env/

# Ignore macOS-specific files
.DS_Store